{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenue sur le blog</h1>


<p>lorem ipsum kalumde euhu çieufçeu eoj jojurj àeioroj àiegpj cpebjd ncdbuj
lorem ipsum kalumde euhu çieufçeu eoj jojurj àeioroj àiegpj cpebjd ncdbuj
lorem ipsum kalumde euhu çieufçeu eoj jojurj àeioroj àiegpj cpebjd ncdbuj
lorem ipsum kalumde euhu çieufçeu eoj jojurj àeioroj àiegpj cpebjd ncdbuj
lorem ipsum kalumde euhu çieufçeu eoj jojurj àeioroj àiegpj cpebjd ncdbuj
lorem ipsum kalumde euhu çieufçeu eoj jojurj àeioroj àiegpj cpebjd ncdbuj
lorem ipsum kalumde euhu çieufçeu eoj jojurj àeioroj àiegpj cpebjd ncdbuj
lorem ipsum kalumde euhu çieufçeu eoj jojurj àeioroj àiegpj cpebjd ncdbuj
lorem ipsum kalumde euhu çieufçeu eoj jojurj àeioroj àiegpj cpebjd ncdbuj
lorem ipsum kalumde euhu çieufçeu eoj jojurj àeioroj àiegpj cpebjd ncdbuj
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, perspiciatis, 
dicta quod quas officiis quibusdam aut suscipit consequatur saepe ex maxime maiores voluptas? 
Hic vel quibusdam aspernatur alias quaerat provident.
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus magni perferendis saepe officia a
 veritatis facilis ipsam cupiditate molestiae quibusdam eligendi voluptas quam, aspernatur neque 
 quis quas maxime eveniet consequuntur!
</p>


{% endblock %}
